*{
  box-sizing: border-box;  
}
.yearList {
  width: 1200px;
  height: 100%;
  margin: auto;
  background-color: #F7F7F7;
  // border: 1px solid red;
  overflow: hidden;
  padding-bottom: 20px;
  display: flex;
}

:deep(.el-tree-node__content) {
  padding-left: 1px !important
}
