.mediaQ3 {
  width: 1370px;
  border: 1px solid red;
}
.timeBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  // 设置间距
   div {
    width: 33%;
    border: 1px solid red;
    cursor: pointer;
   }
}

.swiper-slide {
  // width: 443px;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  .swiper-slide-active {
    height: 200px; 
  }
}
.active {
  color: #fff;
  background: #007aff;
}
.swiper {
  width: 1370px;
  height: 300px;
  margin: 20px auto;
  border: 1px solid red;
}
.swiper-slide-prev,
.swiper-slide-next {
transform: scale(0.9) !important;
filter: blur(2px) !important;
}


/* 更改按钮背景颜色 */
:deep(.swiper-button-prev) {   
  color: #000 !important; /* 红色 */
}
:deep(.swiper-button-next) {
  color: #000 !important; /* 红色 */
}
:deep(.swiper-button-prev.swiper-button-disabled) {
  opacity: 0.2 !important;
} 
:deep(.swiper-button-next.swiper-button-disabled) {
  opacity: 0.2 !important;
}
