*{
  box-sizing: border-box;  
  list-style: none;
}
.bkmSearchBox {
  width: 1200px;
  margin: auto;
  background-color: #F7F7F7;
  // border: 1px solid red;
  overflow: hidden;
  padding: 15px;
}

.SearchInner {
  width: 100%;
  height: auto;
  font-size: 14px;
  background-color: #fff;
  border-radius: 6px;
  padding: 24px 15px;

  .tradeBox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 18px;
    // border: 1px solid red;

    .tradeBox_tit {
      width: 80px;
      // border: 1px solid red;
      span {
        display: block;
        font-size: 12px;
        // padding: 0 3px;
      }
    }
    .tradeBox_list {
      flex: 1;
      // border: 1px solid red;
      display: flex;
      flex-direction: column;

      div {
        // border: 1px solid red;
      }
      .tagList {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        // margin-bottom: 8px;
      
         div {
          margin-right: 18px;
          margin-bottom: 8px;
          cursor: pointer;
          span {
            min-width: 25px;
            font-size: 12px;
            text-align: center;
            color: #fff;
            display: inline-block;
            border-radius: 10px;
            margin-left: 2px;
            background-color: #878787;
          }
        }

        .tagList_type {
          width: 100%;
          height: 26px;
          display: flex;
          flex-wrap: wrap;
          .tagList_typeTit {
            width: 90px;
            margin-right: 0px;
            &:hover {
              color: #000;
            }
          }
          .tagList_typeList {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
          }
        }
   
      }
      .tagList_select {
        width: 100%;
        // height: 30px;
      }
    }
    .inputBox {
      width: 220px;
      display: flex;
      .el-input {
        height: 26px;
        margin-right: 5px;
    
      }
      .el-button {
        border: 1px solid #000;
      }
    }

  }
}

.tagList_item:hover {
  color: #ffd000;
}
