*{
  box-sizing: border-box;  
  list-style: none;
}
.caseDetailBox {
  width: 1200px;
  height: 100vh;
  margin: auto;
  background-color: #F7F7F7;
  // border: 1px solid red;
  overflow: hidden;
  overflow: scroll;
  // display: flex;
  // flex-wrap: wrap;
  position: relative;
  display: flex;


  .case_menu {
    width: 146px;
    border: 1px solid red;
    font-size: 16px;
    color: #000;
    padding-top: 40px;
    background-color: rgba(255, 221, 0, 1);
    div {
      margin-bottom: 40px;
    }
    .menu {
      text-align: center;
      border: 1px solid #000;
      border-radius: 10px;
      margin: auto;
      line-height: 32px;
      margin-bottom: 15px;
      cursor: pointer;
    }
   .oneLevel {
    width: 120px;
    height: 32px;
    background-color: #fff;
   }
   .twoLevel{
    width: 95px;
    height: 32px;
    background-color: rgba(254, 255, 186, 1);
   }
  }
  .case_con {
    flex: 1;
    padding: 20px;
    border: 1px solid red;

  }
}
