*{
  box-sizing: border-box;  
  list-style: none;
}
.caseDetailBox {
  width: 1200px;
  height: 100%;
  margin: auto;
  background-color: #F7F7F7;
  // border: 1px solid red;
  overflow: hidden;
  position: relative;
  display: flex;


  .case_menu {
    width: 146px;
    height: 100%;
    overflow: auto;
    border: 1px solid red;
    font-size: 16px;
    color: #000;
    padding-top: 30px;
    background-color: rgba(255, 221, 0, 1);
    // position: fixed;
    div {
      margin-bottom: 25px;
    }
    .menu {
      text-align: center;
      border: 1px solid #000;
      border-radius: 10px;
      margin: auto;
      line-height: 32px;
      margin-bottom: 15px;
      cursor: pointer;
    }
   .oneLevel {
    width: 120px;
    height: 32px;
    background-color: #fff;
   }
   .twoLevel{
    width: 95px;
    height: 32px;
    background-color: rgba(254, 255, 186, 1);
   }
  }
  .case_con {
    // flex: 1;
    width: 1054px;
    padding: 10px;
    border: 1px solid red;
    overflow: auto;
    position: relative;
    // left: 146px;

    .case_con1 {
      width: 100%;
      height: auto;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #fff;
      &>div {
        // border: 1px solid red;
        margin-top: 15px;
      }

      // 大 title
      .moduleTitle {
        font-size: 24px;
        font-weight: 700;
      }
      .timeBox {
        width: 100%;
        height: 63px;
        box-sizing: border-box;  
        // border: 1px solid blue;
        display: flex;
        justify-content: space-between;
        div {
          // border: 1px solid red;
        }
        .timeBox_left {
          width: 450px;
          height: 100%;
          // background-color: #ccc;
          display: flex;
          .date {
            width: 64px;
            height: 63px;
            text-align: center;
            font-weight: 700;
            padding-top: 4px;
            border: 1px solid #000;
          }
          .caseMessage {
            flex: 1;
            font-size: 16px;
            padding: 4px;
            line-height: 25px;
            div:nth-child(2) {
              height: 30px;
              overflow: hidden;
              display: flex;
              justify-content: space-between;
              
          
              div:nth-child(1) {
                width: 82px;
              }
              div:nth-child(2) {
                flex: 1;
                // width: 200px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                overflow: hidden;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
              }
            }
          }
        }

        .timeBox_right {
          flex: 1;
          height: 100%;
          display: flex;
          justify-content: end;
          // background-color: #ddd;

          .brandNameBox {
            display: flex;
            align-items: center;
            img {
              width: 48px;
              height: 48px;
              border-radius: 50%;
              margin-right: 10px;
            }
          }
        }
      }
      .countBox {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        // border-bottom: 1px dashed #ccc;s
        // border: 1px solid red;
        .countBox_left {
          width: 387px;
          height: 100%;
          background-image: url('@/assets/images/innerBg.png');
          background-size: 387px 100%;
          background-repeat: no-repeat;
          padding: 50px 20px;

          & > div {
            width: 100%;
            // background-color: #000;
            border-radius: 15px;
            margin-bottom: 10px;
          }
          .row_1 {
            width: 100%;
            height: 60px;
            background-color: #ffe595;
            .row_1_tag1 {
              height: 100%;
              display: flex;
              align-items: center;
            }
            .row_1_tag1>div {
              text-align: center;
            }
            .row_1_tag1>div:nth-child(1) {
              width: 40%;
              font-size: 20px;
              font-weight: 700;
            }
            .row_1_tag1>div:nth-child(2) {
              width: 70%;
              font-size: 14px;
              overflow: hidden;
            }
          }
          .row_2 {
            width: 100%;
            height: 110px;
            font-size: 14px;
            display: flex;
            text-align: center;
            align-items: center;

            & > div {
              height: 100%;
              border-radius: 15px;
            }
            .row_2_tag1 {
              width: 38%;
              background-color: #fff4d2;
            }
            .row_2_tag2 {
              width: 30%;
              background-color: #ffe595;
              margin-left: 9px;
            }
            .row_2_tag3 {
              width: 27%;
              background-color: #fff4d2;
              margin-left: 9px;
            }
            
          }
          .row_3 {
            width: 100%;
            height: 90px;
            font-size: 14px;
            display: flex;
            text-align: center;
            align-items: center;

            & > div {
              height: 100%;
              border-radius: 15px;
            }
            .row_3_tag1 {
              width: 28%;
              background-color: #fff4d2;
            }
            .row_3_tag2 {
              width: 35%;
              background-color: #ffedb4;
              margin-left: 9px;
            }
            .row_3_tag3 {
              width: 41%;
              background-color: #ffe8a2;
              margin-left: 9px;
            }
            .row_3_tag1_tit {
              margin-top: 25px;
            }

            .row_3_tag1_num {
              margin-top: 5px; 
              font-weight: 600;
              font-size: 20px;
            }
          }
          .row_4 {
            width: 100%;
            height: 60px;
            font-size: 12px;
            display: flex;
            text-align: center;
            align-items: center;

            & > div {
              height: 100%;
              border-radius: 15px;
            }
            .row_4_tag1 {
              width: 40%;
              background-color: #ffedb4;
            }
            .row_4_tag2 {
              width: 58%;
              background-color: #ffe595;
              margin-left: 9px;
            }
            .row_4_tag1_tit {
              margin-top: 10px;
            }

            .row_4_tag1_num {
              margin-top: 3px; 
              font-weight: 600;
              font-size: 16px;
            }
          }
        }
        .countBox_right {
          flex: 1;
          height: 100%;
          margin-left: 25px;
          // background-color: #bbb;
        }
      }
    }
    
    .innerBox {
      width: 100%;
      height: auto;
      min-height: 100px;
      // border: 1px solid red;
      padding-top: 20px;
      border-top: 1px dashed #ccc;
    }
    .nodeTag {
      font-size: 18px;
      font-weight: 700;
    }
  }
}
